<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

  <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>TestJackson</servlet-name>
        <servlet-class>cn.yyljlyy.test.TestJackson</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestJackson</servlet-name>
        <url-pattern>/testjackson</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestFastJson</servlet-name>
        <servlet-class>cn.yyljlyy.test.TestFastJson</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestFastJson</servlet-name>
        <url-pattern>/testfastjson</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>